################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3D-Renderer-OpenGL
/x64/
/Debug/
